body {
}

.loginInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginTextArea {
    margin-bottom: 5px;
}

#loginBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.alert {
    color: red;
}