@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="login">Login</a><br/>
    <a href="register">Register</a><br />
    <a href="interns">Interns</a><br />
    <a href="profile">Profile</a><br />
    <a href="internsSubmitted">InternsSubmitsted</a><br />
    <a href="adminPanel">Admin Panel</a>
</div>
