@page
@model InternsModel
@{
    ViewData["Title"] = "Interns";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/interns-style.css" />
</head>
<div class="text-center">
    <div>Contenddddt</div>
</div>
