@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    var loginMessage = TempData["LoginMessage"] as string;
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/login-style.css" />
</head>
<div class="text-center">
    
    <div class="mainPage">
        <h3>Tekrar Hoşgeldin!</h3>
        <form method="post">
            <div class="loginInput">
                <input class="loginTextArea" type="email" placeholder="E-mail" id="email" name="email"/>
                <input class="loginTextArea" type="password" placeholder="Parola" id="password" name="password"/>
                <input id="loginBtn" type="submit" value="Giriş Yap" />
                @if (!string.IsNullOrEmpty(loginMessage))
                {
                    <span class="alert">@loginMessage</span>
                }
                <h5>Hesabın yok mu?</h5>
                <a href="register">Kayıt Ol!</a>
            </div>
        </form>
    </div>
</div>
