@page
@model ProfileModel
@{
    ViewData["Title"] = "Your Profile";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/profile-style.css" />
</head>
<div class="text-center">
    
    <div class="mainPage">
        <div class="profileTopBar">
            <div class="profilePhoto">
            </div>
            <h3 id="profileNameSurname">Name_Surname</h3>
        </div>

        <div class="border profileAboutme">
            <h3>About</h3>
        </div>

        <div class="border profileExperienceHistory">
            <h3>Experience</h3>
        </div>

        <div class="border profileSchoolHistory">
            <h3>Education</h3>
        </div>

        <div class="border profileSkills">
            <h3>Skills</h3>
        </div>


    </div>
</div>
